@media screen and (max-width: 1599px) {
  .product-of-week__image {
    margin-right: 0;
  }
  .catalog__section-description {
    padding: 0;
  }
  .catalog-card__images {
    flex-wrap: wrap;
  }


  .catalog-card__thumb-images {
    margin-left: 0;
    width: 100%;
    display: flex;
    margin-top: 15px;
  }

  .card-thumb-images__item {
    margin-right: 10px;
    margin-bottom: 0;
  }

  .card-block--1 {
    padding-bottom: 15px;
  }
  .catalog-card__additional-block {
    max-width: 100%;
    margin: 0 0 25px;
  }
  .card-block__additional {
    flex-wrap: wrap;
  }
  .card-block--1 {
    padding-right: 15px;
  }
  .card-block--2 {
    padding-bottom: 15px;
    padding-right: 15px;
  }
  .card-block--3 {
    padding-right: 15px;
  }


}

@media screen and (max-width: 1440px) {
  .container {
    max-width: 1140px;
  }
  .menu-catalog-item {
    padding-bottom: 12%;
  }
  .menu-catalog-item__icon {
    position: absolute;
    left: 15px;
    bottom: 15px;
    margin: 0;
  }

  .collections__block {
    grid-gap: 10px;
    margin: 0 0 10px;
  }
  .subscribing__block__title {

    font-size: 31px;
  }
  .subscribing__block__text {
    font-size: 16px;
  }
  .map-block__map {
    margin-right: 30px;
  }
  .subscribing__block--left {
    margin-right: 30px;
  }
  .map-block__info {
    padding: 80px 0;
  }
  .product-of-week__stick {
    width: 86px;
    height: 86px;
    font-size: 21px;
  }
  .product-of-week__title {
    font-size: 44px;
  }
  .product-of-week__price {
    font-size: 40px;
  }
  .product-of-week__price--old {
    font-size: 20px;
  }
  .product-of-week__saving {
    font-size: 14px;
  }
  .product-of-week__more {
    font-size: 24px;
  }
  .product-of-week__saving-next-week {
    font-size: 12px;
  }
  .product-of-week__body {
    flex: 1 1 100%;
  }
  .product-of-week__image {
    padding-right: 1%;
  }
  .products-of-week__prev {
    left: calc((100% - 1140px) / 2);
  }

  .products-of-week__next {
    right: calc((100% - 1140px) / 2);
  }
  .product-of-week__image {
    min-width: 56%;
  }
  .product-of-week__price--old {
    margin-left: 15px;
  }

  .product-of-week {
    width: calc(100% - 15px);

    &::before {
      left: 15px;
    }
  }
  .advantages__title {
    font-size: 14px;
  }
  .promo-block-item__title {
    font-size: 24px;
    max-width: 320px;
    width: 100%;
    height: auto;
    padding: 20px;
  }
  .promo-block-text__title {
    font-size: 48px;
  }
  .promo-block-text {
    padding: 30px;
  }
  .promo-block-text__text {
    font-size: 24px;
  }
  .promo-block {
    grid-template-rows: repeat(2, 256px);
  }
  .actions-page__list {
    margin: 0 -22px -30px;
  }
  .actions-page__item {
    margin: 0 22px 30px;
    flex: 0 1 calc(100% / 3 - 44px);
  }
  .works-page__item {
    flex: 0 1 calc(100% / 3 - 20px);
  }
  .catalog-list__item-wrapper {
    flex: 0 0 calc(100% / 3);
  }

  .main-menu__link {
    font-size: 12px;
  }
  .card-block--1 {
    width: 100%;
    max-width: 100%;
    padding-right: 0;
  }
  .card-block--1 {
    width: 100%;
    max-width: 100%;
    padding-right: 0;
    padding-bottom: 30px;
    border-bottom: 1px solid #E2E2E2;
    border-right: none;
  }

  .card-block--3 {
    padding: 0 15px 35px 15px;
    order: 4;
    max-width: none;
  }

  .catalog-card__inner {
    display: flex;
  }

  .card-block--2 {
    flex: 1 1 50%;
    order: 2;
    max-width: none;
  }

  .catalog-card__images {
    align-items: center;
    justify-content: center;
  }

  .catalog-card__thumb-images {
    justify-content: center;
  }
  .catalog-card__about-prices {
    margin-top: 0;
  }
  .card-block--3,
  .card-block--2 {
    padding-top: 35px;
    flex: 1 1 50%;
  }
  .sizes-table {
    flex: 1 1 auto;
  }
  .sizes-table__item {
    flex-basis: 100%;
    justify-content: space-between;
    padding: 6px 25px;
  }
  .sizes-table__item:nth-child(2n) {
    justify-content: space-between;
  }
  .sizes-table__item:nth-child(odd) {
    border-right: none;
    background-color: #EEEEEE;
  }
  .sizes-table__item:nth-child(even) {
    border-right: none;
    background-color: #fff;
  }
  .basket-page__additional {
    padding-left: 30px;
    flex: 1 1 calc(50% - 30px);
  }
  .basket-item-total__remove {
    right: -10px;
  }

  .shop__inner {
    flex-wrap: wrap;
  }

  .shop__info {
    flex: 0 0 490px;
  }

  .shop__info {
    flex: 1 1 auto;
    width: auto;
  }

  .shop__map {
    flex: 1 0 auto;
    width: auto;
    margin-right: 0;
    max-width: none;

  }
  .shop__images {
    max-width: none;
    flex: 1 1 100%;
    margin: 20px -15px 0;

  }
  .shop__image img {
    width: 100%;
  }
  .shop__image {
    flex: 0 0 calc(100% / 6 - 30px);
    margin: 0 15px 30px;
    min-width: 123px;
  }
  .contacts-page__form {
    padding-right: 30px;
  }
  .material-item__title {
    width: 90%;
  }
  .materials-item__inner {
    margin: 15px 15px 0;
  }
  .payment-delivery-item__image::before {
    margin-right: 30px;
  }
  .payment-delivery-item__image {
    flex: 0 0 350px;
  }
  .boss-content__block--right {
    flex: 0 0 270px;
  }
  .partners__left {
    margin-right: 30px;
  }
  .content__title--partners {
    margin-top: 0;
  }

  .partners__block {
    align-items: center;
  }
  .partners__form-wrapper {
    margin-right: 30px;
  }
  .partners-promo {
    padding: 30px 15px;
  }
}

@media screen and (max-width: 1280px) {
  .certificates__item {
    flex: 0 0 calc(100% / 4 - 30px);
  }

}
@media screen and (max-width: 1210px) {
  .catalog__sidebar {
    width: 100%;
    max-width: 290px;
    margin-right: 15px;
  }


  .catalog__content {
    flex-basis: calc(100% - 305px);
    max-width: calc(100% - 305px);
  }
}
@media screen and (max-width: 1140px) {
  .menu-catalog__list {

    flex-wrap: wrap;
  }
  .menu-catalog-item {
    width: calc(100% / 4);
    padding-bottom: 18.3%;
  }
  .header__icons,
  .header__city {
    display: none;
  }
  .header__menu {
    width: 100%;
  }
  .main-menu__list {
    justify-content: space-between;
  }
  .container,
  .container-fluid {
    padding: 0 15px;
  }
  .main-menu__item {
    margin-right: 15px;
  }
  .search-block {
    width: auto;
  }
  .basket-icon {
    margin-left: 15px;
  }

  .footer-logo__image {
    width: 88px;
    height: 80px;
    background-size: auto;
    background-position-x: 8px;
    background-repeat: no-repeat;
  }
  .footer-logo__text {
    font-size: 14px;
    max-width: 105px;
  }
  .subscribing-form__row {
    flex-wrap: wrap;
  }
  .subscribing-form__label {
    flex-basis: 100%;
  }
  .subscribing-form__submit {
    margin-left: 0;
    margin-top: 20px;
    order: 3;
  }
  .products-of-week__prev {
    left: 0;
  }
  .products-of-week__next {
    right: 0;
  }
  .about__image {
    float: left;
    margin-left: 0;
    margin-right: 30px;
  }
  .promo-text {
    font-size: 16px;
  }
  .advantages__item:not(:last-child)::after {
    display: none;
  }
  .advantages__list {
    flex-wrap: wrap;
    margin-bottom: -40px;
  }

  .advantages__item {
    flex-basis: calc(100% / 3);
    margin-bottom: 40px;
  }
  .promo-block {
    grid-template-rows: repeat(2, 164px);
  }
  .promo-block-item__title {
    font-size: 14px;
    min-height: 105px;
  }
  .promo-block-text__text {
    font-size: 14px;
  }
  .promo-block-item--5 img {
    max-width: 82px;
  }
  .promo-block-text__title {
    font-size: 26px;
  }
  .catalog-list__item-wrapper {
    flex: 0 0 50%;
  }


  .basket-item__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .basket-item__image {
    grid-row: span 2;
  }
  .basket-item__name-wrapper, .basket-item__props {
    grid-column: 2 span;
  }
  .basket-item__name-wrapper {
    margin-bottom: 15px;
    max-width: none;
  }
  .basket-additional-block__title {
    font-size: 32px;
  }
  .contacts-page__top {
    flex-wrap: wrap;
  }

  .contacts-page__managers {
    max-width: 768px;
    margin: 0 auto;
    width: 100%;
  }

  .contacts-page__form {
    max-width: 768px;
    margin: 0 auto 40px;
    width: 100%;
    padding-right: 30px;
  }

  .material-item {
    flex: 0 0 calc(100% / 3 - 50px);
  }
  .boss-content__promo--in-content {
    display: block;
  }
  .boss-content__block--right {
    display: none;
  }

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 920px) {


  .header__search-btn {
    display: block;
  }
  .search-block__form {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 15;
    padding: 11px 15px;
    background-color: #F9F9F9;
    top: 88%;
    border-top: 1px solid #e2e2e2;
    margin: 0 -15px;
    box-shadow: inset 0 4px 4px 3px #eee;
    display: none;

    &--open {
      display: block;
    }
  }
  .burger-menu {
    display: block;
  }
  .header__logo {
    margin-right: 30px;
  }
  .collection-item__name {
    font-size: 14px;
    padding: 3px 12px 4px;
    border-radius: 0 10px 0 0;
  }
  .map-block__title {
    font-size: 36px;
  }


  .catalog__inner {
    display: flex;
    flex-wrap: wrap;
  }
  .catalog__sidebar {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row-reverse;
    background-color: #F53A41;
    border-radius: 0 30px 0 0;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-right: 0;

  }
  .catalog-left__content {
    max-width: none;
    margin-right: 0;
    min-width: 0;
    width: 290px;
    left: -290px;
    position: fixed;
    transition: left 0.3s;
    max-height: 100%;
    overflow-y: auto;
    background-color: #fff;
    top: 0;
    z-index: 100;

    &.show {
      left: 0;
    }
  }
  .catalog-search-form__inner {
    display: flex;
  }

  .catalog-search-form__label {
    margin-right: 10px;
  }
  .catalog-left {
    margin-top: 0;
  }
  .catalog-search-form__field {
    min-width: 290px;
  }
  .catalog-left__label-wrapper {
    display: flex;
    align-items: center;
  }
  .catalog-subsections {
    display: none;
  }
  .catalog__content {
    max-width: 100%;
    flex-basis: 100%;
  }
  .shop__image {
    flex: 0 0 calc(100% / 3 - 30px);
  }
  .requisites {
    flex-wrap: wrap;
  }

  .requisites__map {
    margin-right: 0;
    max-width: 100%;
    margin-top: 40px;
    height: 600px;
  }
  .contacts-page__form {
    padding-right: 0;
  }

  .requisites__info {

    min-width: 0;
    max-width: none;
  }
  .how-buy-page-form {
    flex: 0 1 calc(100% - 274px);
  }
  .how-buy-page-form-wrapper {
    background-position: 218% 0;

  }
  .certificates__item {
    flex: 0 0 calc(100% / 3 - 30px);
  }
  .mobile-main-menu {
    min-width: 320px;
    z-index: 100;
  }
}

@media screen and (max-width: 768px) {
  .shop__info {
    max-width: none;
    min-width: 0;
    padding: 15px;
  }
  .product-of-week {
    padding: 15px 15px;
  }
  .actions-page__list {
    margin: 0 -15px -30px;
  }
  .actions-page__item {
    margin: 0 15px 30px;
    flex: 0 1 calc(100% / 2 - 30px);
  }
  .works-page__item {
    flex: 0 1 calc(100% / 2 - 20px);
    margin: 0 10px 20px;
  }
  .shop__map {
    flex: 1 1 10%;
    height: 200px;
  }
  .managers-block__inner {
    display: flex;
    justify-content: space-between;
    margin: 20px -12px 0;
  }
  .payment-delivery-item__image {
    flex: 0 0 260px;
  }
  .partners__form-wrapper {
    margin-right: 0;
    max-width: none;
    margin-top: 30px;
  }

  .partners__bottom {
    flex-direction: column-reverse;
  }
  .partners-item {
    flex-basis: 48%;
    margin-bottom: 50px;
  }
  .certificates__item {
    flex: 0 0 calc(100% / 2 - 30px);
  }
}

@media screen and (max-width: 767px) {
  .managers-block__inner {
    flex-wrap: wrap;
    justify-content: flex-start;

  }
  .menu-catalog__list {
    margin: 0 -15px;
  }
  .main-slider {
    margin: 0 -15px;
  }
  .menu-catalog-item {
    width: calc(100% / 2);
    min-height: 130px;
  }
  .header__top {
    display: none;
  }
  .header__phones {
    display: none;
  }
  .header__middle {
    padding: 20px 0;
  }
  .collections__inner {
    display: block;
    margin-top: 25px;
  }

  .collections__block {
    margin-bottom: 3px;
    grid-gap: 3px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "cif cif" "cif cif" "cih--2 cih--3" "cih--4 cih--5";


    &:nth-child(even) {
      grid-template-areas: "cih--1 cih--2" "cih--3 cih--4" "cif cif" "cif cif";
    }
  }


  .block-section__title {
    font-size: 1.5555rem;
    margin: 0.8928em 0;
  }
  .collections__more {
    font-size: 12px;
    margin-left: 15px;
  }
  .footer-bottom__block--right {
    text-align: center;
    min-width: 0;
    margin-top: 20px;
  }
  .footer-bottom__inner {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .page-footer__logo {
    display: none;
  }
  .footer-top__inner {
    flex-direction: column;
    align-items: center;
  }
  .subscribing {
    flex-wrap: wrap;
  }
  .subscribing__block--right {
    margin-top: 20px;
  }

  .page-footer__menus {
    width: 100%;
  }
  .page-footer__info {
    margin-top: 30px;
  }
  .footer-menu {
    margin: 0 10px;
  }
  .payment-block {
    text-align: center;
  }
  .payment-block__inner {
    justify-content: center;
  }
  .footer_email {
    justify-content: center;
  }
  .phones__btn {
    justify-content: center;
  }
  .map-block__map {
    margin-right: 0;
  }
  .map-block {
    flex-direction: column;
  }
  .product-of-week {
    flex-direction: column;
    border-radius: 0 40px 0 0;
    width: calc(100% - 5px);

    &::before {
      border-radius: 0 40px 0 0;
      left: 5px;
    }
  }


  .product-of-week__image {
    max-width: 100%;
  }
  .product-of-week__title {
    font-size: 26px;
  }
  .product-of-week__price {
    font-size: 24px;
  }
  .product-of-week__price--old {
    font-size: 14px;
    margin-left: 5px;
  }
  .product-of-week__more {
    font-size: 20px;
  }
  .product-of-week__stick {
    width: 51px;
    height: 51px;
    font-size: 13px;
    font-weight: 400;
  }
  .promo-block {
    grid-template-rows: repeat(3, 200px);
  }
  .promo-block-item {
    grid-column: span 12;
  }
  .promo-block-item--1 {
    grid-row: span 1;
  }
  .promo-block-item--4 {
    grid-column: span 6;
  }
  .promo-block-item--5 {
    grid-column: span 6;
  }
  h3, .h3 {
    font-size: 24px;
  }
  .content__title {
    font-size: 28px;
  }
  .map-block__info {
    padding: 60px 15px;
  }
  .catalog-search-block {
    display: none;
  }
  .catalog__sidebar {
    flex-direction: row;
  }
  .catalog-left__label-wrapper {
    padding: 20px 20px 15px;
  }

  .card-block--3, .card-block--2 {
    flex: 1 1 100%;
  }

  .card-block--3 {
    order: 2;
    border: none;
    padding-left: 0;
    padding-right: 0;
  }

  .card-block--2 {
    orphans: 4;
    border: navajowhite;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 30px;
  }
  .promo-block-item {
    img {
      display: block;
      height: auto;
      max-height: none;

    }
  }

  .mobile-main-menu {
    width: calc(100% + 30px);
    max-width: none;
    left: -15px;
    right: -5px;

    .mobile-main-menu__item {
      display: block;
    }

    .main-menu__list:not(.main-menu__list--child) {
      display: block;
    }

    .main-menu__link {
      font-size: 16px;
      font-weight: 500;
    }

    .main-menu__item {
      display: block;
    }

    .main-menu__list--child {
      padding: 0;
      position: relative;
      margin-top: 15px;
    }

    .city-block__title {
      display: inline-flex;
    }

    .header__phones {
      display: block;
      font-weight: 500;
      white-space: nowrap;
      margin-top: 20px;
    }

    .phones__btn {
      justify-content: flex-start;
    }
  }
  .basket-page__form {
    flex-basis: 100%;
  }

  .basket-page__additional {
    flex-basis: 100%;
    padding-left: 0;
  }
  .basket-page__bottom .form__title {
    font-size: 28px;
    margin-bottom: 0;
  }
  .basket-item {
    flex-wrap: wrap;
    position: relative;
  }

  .basket-list__col--info {
    flex-basis: 100%;
    margin-bottom: 30px;
    padding: 0;
  }

  .basket-list__col {
    flex-basis: 100%;
    margin-bottom: 30px;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  .basket-item-total__remove {
    top: 17px;
    right: 15px;
  }

  .basket-list__col--total {
    position: static;
  }
  .basket-list__col-title {
    display: block;
  }
  .basket-list__col-value {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
  }
  .basket-item__info {
    grid-template-columns: repeat(2, 1fr);
  }

  .basket-item__name-wrapper, .basket-item__props {
    grid-column: 1 span;
    padding-left: 20px;
  }

  .basket-item__image {
    text-align: right;
    margin: 0;
  }

  .basket-item__image img {
    display: inline-block;
  }
  .basket-item__name {
    padding-right: 40px;
  }
  .basket-list-header {
    display: none;
  }
  .material-item {
    flex: 0 0 calc(100% / 2 - 52px);
  }
  .payment-delivery-blocks__item {
    flex-wrap: wrap;
  }
  .payment-delivery-item__image {
    min-height: 254px;
    flex-basis: 100%;


    &::before {
      background-position: 0 0;
    }
  }
  .payment-delivery-item__title {
    font-size: 32px;
  }
  .how-buy-page-form-wrapper {
    background-image: none;

  }
  .how-buy-page-item__title {
    font-size: 24px;
    line-height: inherit;
  }
  .how-buy-page-form {
    flex: 1 1 100%;
  }
  .call-out-managers {
    flex: 1 1 100%;
    margin-bottom: 30px;
  }

  .call-out-managers__item:first-child {
    margin-right: 0;
  }
  .how-buy-page-form {
    min-width: 0;
  }
  .partners__left {
    margin-right: 0;
  }

  .partners__block {
    flex-direction: column;
  }

  .partners__right {
    margin: 50px 0;
    min-width: 290px;
  }
}

@media screen and (max-width: 600px) {
  .header__logo {
    max-width: 158px;
    margin-right: auto;
  }
  .mobile-main-menu {
    top: 80px;
  }
  .shop__image {
    flex: 0 0 calc(100% / 2 - 14px);
    margin: 0 7px 14px;
  }
  .shop__images {
    margin: 20px -7px 0;
  }
  .factory-address {
    top: 15px;
    left: 15px;
    right: 15px;
  }
  .boss-content__info {
    font-size: 14px;
  }
  .partners-item {
    flex-basis: 100%;
  }
  .partners-promo__title {
    text-align: center;
  }
  .form__submit--search {
    max-width: 300px;
    margin: 15px auto 0;
  }
  .form-item--search {
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  .basket-block {
    max-width: none;
    right: -15px;
    width: calc(100% + 30px);
  }
  .basket-block-table__header {
    display: none;
  }
  .basket-block__action {
    margin-left: 15px;

  }
  .basket-block-item__info {
    flex-direction: column;
  }
  .basket-block-item__name {
    font-weight: 400;
    font-size: 16px;
    padding: 0;
    text-align: center;
    margin-top: 5px;
  }
  .material-item {
    flex: 1 1 100%;
  }
}

@media screen and (max-width: 560px) {
  .catalog-list__item-wrapper {
    flex: 1 1 100%;
    margin: 0 0 -1px;
  }
  .card-thumb-images__item {
    height: auto;
  }

}

@media screen and (max-width: 460px) {
  .basket-block__checkout {
    width: auto;
    font-size: 16px;
  }
  .basket-block__total {
    font-size: 20px;
  }
  .basket-block__action {
    margin: 15px;
  }
  .basket-block__footer {
    flex-direction: column;
  }
  .basket-block-item {
    flex-direction: column;
  }
  .basket-block-table__col--qty {
    flex: 0 0 auto;
    margin: 15px;
  }
  .basket-block-table_col--cost {
    flex: 0 0 auto;
    text-align: center;
    margin: 15px
  }
  .basket-block-table__col--info {
    flex: 1 1 auto;
    margin: 15px;
  }
  .catalog__sidebar {
    justify-content: center;
  }
}

@media screen and (max-width: 375px) {
  .actions-page__list {
    margin: 0 0 -15px;
  }
  .actions-page__item {
    margin: 0 0 15px;
    flex: 1 1 100%;
  }
  .works-page__item {
    flex: 1 1 100%;
    margin: 0 0 20px;
  }

}

@media screen and (max-width: 374px) {
  .header__logo img {
    max-width: none;
  }
  .header__logo {
    max-width: 92px;
    overflow: hidden;
  }
  .block-section__title-wrapper {
    display: block;
  }
  .collections__more {
    margin-left: 0;
  }
  .promo-text__icon {
    display: none;
  }
  .promo-text {
    padding: 15px 40px;
  }
  .advantages__item {
    flex-basis: calc(100% / 2);
  }
  .mobile-main-menu {
    top: 100px;
  }

}

@media screen and (max-width: 340px) {
  .menu-overlay::before {
    right: 5px;
    top: 10px;
  }
}
@media screen and (max-width: 320px) {

}

.bx-no-touch {

  ::-webkit-scrollbar-button {
    width: 6px;
    height: 0
  }

  ::-webkit-scrollbar-track {
    background-color: #F0F0F0;
    box-shadow: 0 0 3px #b5b5b5 inset;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #CDCDCD;
    box-shadow: 0 1px 1px #fff inset;
    background-position: center;
    background-repeat: no-repeat;
  }

  ::-webkit-scrollbar {
    width: 11px;

  }
}