@media screen and (max-width: 1599px) {
  .product-of-week__image {
    margin-right: 0;
  }
}

@media screen and (max-width: 1440px) {
  .container {
    max-width: 1140px;
  }
  .menu-catalog-item {
    padding-bottom: 12%;
  }
  .menu-catalog-item__icon {
    position: absolute;
    left: 15px;
    bottom: 15px;
    margin: 0;
  }

  .collections__block {
    grid-gap: 10px;
    margin: 0 5px;
  }
  .subscribing__block__title {

    font-size: 31px;
  }
  .subscribing__block__text {
    font-size: 16px;
  }
  .map-block__map {
    margin-right: 30px;
  }
  .subscribing__block--left {
    margin-right: 30px;
  }
  .map-block__info {
    padding: 80px 0;
  }
  .product-of-week__stick {
    width: 86px;
    height: 86px;
    font-size: 21px;
  }
  .product-of-week__title {
    font-size: 44px;
  }
  .product-of-week__price {
    font-size: 40px;
  }
  .product-of-week__price--old {
    font-size: 20px;
  }
  .product-of-week__saving {
    font-size: 14px;
  }
  .product-of-week__more {
    font-size: 24px;
  }
  .product-of-week__saving-next-week {
    font-size: 12px;
  }
  .product-of-week__body {
    flex: 1 1 100%;
  }
  .product-of-week__image {
    padding-right: 1%;
  }
  .products-of-week__prev {
    left: calc((100% - 1140px) / 2);
  }

  .products-of-week__next {
    right: calc((100% - 1140px) / 2);
  }
  .product-of-week__image {
    min-width: 56%;
  }
  .product-of-week__price--old {
    margin-left: 15px;
  }

  .product-of-week {
    width: calc(100% - 15px);

    &::before {
      left: 15px;
    }
  }
  .advantages__title {
    font-size: 14px;
  }
  .promo-block-item__title {
    font-size: 24px;
  }
  .promo-block-text__title {
    font-size: 48px;
  }
  .promo-block-text {
    padding: 30px;
  }
  .promo-block-text__text {
    font-size: 24px;
  }
  .promo-block {
    grid-template-rows: repeat(2, 256px);
  }
  .catalog-list {
    flex: 1 1 33%;
    grid-template-columns: repeat(3, 1fr);
  }
  .actions-page__list {
    margin: 0 -22px -30px;
  }
  .actions-page__item {
    margin: 0 22px 30px;
    flex: 0 1 calc(100% / 3 - 44px);
  }
  .works-page__item {
    flex: 0 1 calc(100% / 3 - 20px);
  }
}

@media screen and (max-width: 1140px) {
  .menu-catalog__list {

    flex-wrap: wrap;
  }
  .menu-catalog-item {
    width: calc(100% / 4);
    padding-bottom: 18.3%;
  }
  .header__icons,
  .header__city {
    display: none;
  }
  .header__menu {
    width: 100%;
  }
  .main-menu__list {
    justify-content: space-between;
  }
  .container {
    padding: 0 15px;
  }
  .main-menu__item {
    margin-right: 15px;
  }
  .search-block {
    width: auto;
  }
  .basket-icon {
    margin-left: 15px;
  }

  .footer-logo__image {
    width: 88px;
    height: 80px;
    background-size: auto;
    background-position-x: 8px;
    background-repeat: no-repeat;
  }
  .footer-logo__text {
    font-size: 14px;
    max-width: 105px;
  }
  .subscribing-form__row {
    flex-wrap: wrap;
  }
  .subscribing-form__label {
    flex-basis: 100%;
  }
  .subscribing-form__submit {
    margin-left: 0;
    margin-top: 20px;
    order: 3;
  }
  .products-of-week__prev {
    left: 0;
  }
  .products-of-week__next {
    right: 0;
  }
  .about__image {
    float: left;
    margin-left: 0;
    margin-right: 30px;
  }
  .promo-text {
    font-size: 16px;
  }
  .advantages__item:not(:last-child)::after {
    display: none;
  }
  .advantages__list {
    flex-wrap: wrap;
    margin-bottom: -40px;
  }

  .advantages__item {
    flex-basis: calc(100% / 3);
    margin-bottom: 40px;
  }
  .promo-block {
    grid-template-rows: repeat(2, 164px);

  }
}

@media screen and (max-width: 920px) {
  .header__search-btn {
    display: block;
  }
  .search-block__form {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 11px 15px;
    background-color: #F9F9F9;
    top: 88%;
    border-top: 1px solid #e2e2e2;
    margin: 0 -15px;
    box-shadow: inset 0 4px 4px 3px #eee;
    display: none;

    &--open {
      display: block;
    }
  }
  .burger-menu {
    display: block;
  }
  .header__logo {
    margin-right: 30px;
  }
  .collection-item__name {
    font-size: 14px;
    padding: 3px 12px 4px;
    border-radius: 0 10px 0 0;
  }
  .map-block__title {
    font-size: 36px;
  }

}

@media screen and (max-width: 768px) {
  .product-of-week {
    padding: 15px 15px;
  }
  .actions-page__list {
    margin: 0 -15px -30px;
  }
  .actions-page__item {
    margin: 0 15px 30px;
    flex: 0 1 calc(100% / 2 - 30px);
  }
  .works-page__item {
    flex: 0 1 calc(100% / 2 - 20px);
    margin: 0 10px 20px;
  }
}

@media screen and (max-width: 767px) {

  .menu-catalog__list {
    margin: 0 -15px;
  }
  .main-slider {
    margin: 0 -15px;
  }
  .menu-catalog-item {
    width: calc(100% / 2);
    min-height: 130px;
  }
  .header__top {
    display: none;
  }
  .header__phones {
    display: none;
  }
  .header__middle {
    padding: 20px 0;
  }
  .collections__inner {
    display: block;
  }

  .collections__block {
    margin-bottom: 3px;
    grid-gap: 3px;
  }
  .block-section__title {
    font-size: 1.5555rem;
    margin: 0.8928em 0;
  }
  .collections__more {
    font-size: 12px;
    margin-left: 15px;
  }
  .collection-item--full {
    order: -1;
  }
  .footer-bottom__block--right {
    text-align: center;
    min-width: 0;
    margin-top: 20px;
  }
  .footer-bottom__inner {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .page-footer__logo {
    display: none;
  }
  .footer-top__inner {
    flex-direction: column;
    align-items: center;
  }
  .subscribing {
    flex-wrap: wrap;
  }
  .subscribing__block--right {
    margin-top: 20px;
  }

  .page-footer__menus {
    width: 100%;
  }
  .page-footer__info {
    margin-top: 30px;
  }
  .footer-menu {
    margin: 0 10px;
  }
  .payment-block {
    text-align: center;
  }
  .payment-block__inner {
    justify-content: center;
  }
  .footer_email {
    justify-content: center;
  }
  .phones__btn {
    justify-content: center;
  }
  .map-block__map {
    margin-right: 0;
  }
  .map-block {
    flex-direction: column;
  }
  .product-of-week {
    flex-direction: column;
    border-radius: 0 40px 0 0;
    width: calc(100% - 5px);

    &::before {
      border-radius: 0 40px 0 0;
      left: 5px;
    }
  }


  .product-of-week__image {
    max-width: 100%;
  }
  .product-of-week__title {
    font-size: 26px;
  }
  .product-of-week__price {
    font-size: 24px;
  }
  .product-of-week__price--old {
    font-size: 14px;
    margin-left: 5px;
  }
  .product-of-week__more {
    font-size: 20px;
  }
  .product-of-week__stick {
    width: 51px;
    height: 51px;
    font-size: 13px;
    font-weight: 400;
  }
  .promo-block {
    grid-template-rows: repeat(3, 200px);
  }
  .promo-block-item {
    grid-column: span 12;
  }
  .promo-block-item--1 {
    grid-row: span 1;

  }
  h3, .h3 {
    font-size: 30px;
  }
  .content__title {
    font-size: 28px;
  }

}

@media screen and (max-width: 600px) {
  .header__logo {
    max-width: 158px;
    margin-right: auto;
  }
}

@media screen and (max-width: 375px) {
  .actions-page__list {
    margin: 0 0 -15px;
  }
  .actions-page__item {
    margin: 0 0 15px;
    flex: 1 1 100%;
  }
  .works-page__item {
    flex: 1 1 100%;
    margin: 0 0 20px;
  }
}

@media screen and (max-width: 374px) {
  .header__logo img {
    max-width: none;
  }
  .header__logo {
    max-width: 92px;
    overflow: hidden;
  }
  .block-section__title-wrapper {
    display: block;
  }
  .collections__more {
    margin-left: 0;
  }
  .promo-text__icon {
    display: none;
  }
  .promo-text {
    padding: 15px 40px;
  }
  .advantages__item {
    flex-basis: calc(100% / 2);
  }
}

@media screen and (max-width: 320px) {

}

.bx-no-touch {

  ::-webkit-scrollbar-button {
    width: 6px;
    height: 0
  }

  ::-webkit-scrollbar-track {
    background-color: #F0F0F0;
    box-shadow: 0 0 3px #b5b5b5 inset;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #CDCDCD;
    box-shadow: 0 1px 1px #fff inset;
    background-position: center;
    background-repeat: no-repeat;
  }

  ::-webkit-scrollbar {
    width: 11px;

  }
}